{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}

{{ if .Get "caption" }}
<figure class="media">
{{ else }}
<div class="media">
{{ end }}
  <div class="lazy-wrapper {{ with .Get "ratio"}}ratio ratio-{{.}}{{ end }}">
    <img class="lazy"
      {{ with .Get "width"}}width="{{.}}"{{ end }}
      data-src="{{ $src.RelPermalink }}"
      data-zoom-src="{{ $src.RelPermalink }}"
      data-sizes="100vw"
      {{ with .Get "alt" }}alt="{{ . }}"{{ end }}
    >
    <noscript>
      <img {{ with .Get "width"}}width="{{.}}"{{ end }}
        src="{{ $src.RelPermalink }}"
        sizes="100vw"
        {{ with .Get "alt" }}alt="{{ . }}"{{ end }}
      >
    </noscript>
  </div>
  {{ if .Get "caption" }}
  <figcaption class="media-caption {{ with .Get "align-caption"}}{{.}}{{ end }}">{{ .Get "caption" }}</figcaption>
</figure>
{{ else }}
</div>
{{ end }}
