<!DOCTYPE html>
<html class="no-js" lang="th">
{{ partial "head.html" . }}
<body>
  {{ partial "skip-to-content.html" . }}
  <header class="site-header">
    {{ partial "nav.html" (dict "context" . "pageName" "post") }}
  </header>
  <div class="content content--home">
    <main id="main" class="main-content main-content--no-sidebar">
      <header>
        <h1 class="page-title">{{ .Title }}</h1>
      </header>

      {{ range .Pages.GroupByDate "2006" }}
      <h2>{{ .Key }}</h2>
      <ol>
        {{ range .Pages }}
        <li>
          <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ with .Params.language }}<span>🇬🇧</span>{{end}}
        </li>
        {{ end }}
      </ol>
    {{ end }}

    </main>
  </div>
  {{ partial "bottom-script.html" . }}
</body>
</html>
