<!DOCTYPE html>
<html class="no-js" lang="th">
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Armno Prommarak">
  <!-- critical css should be here -->
  {{ with resources.Get "css/name.scss" | toCSS | minify }}
  <style>{{ .Content | safeCSS }}</style>
  {{ end }}
  </head>
<body>
  <div class="container">
    <div class="overlay-menu" id="js-overlay-navigation">
      <header class="overlay-header">
        <a href="/">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50" height="50" fill="black"/>
            <path d="M36.1111 34.8006L25 15.5556L13.8889 34.8006H15.6885L21.9948 23.8777L28.3011 34.8006H36.1111Z" fill="white"/>
          </svg>
        </a>
        <button class="button-close-menu js-toggle-menu">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6L6 18M6 6l12 12" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </header>

      <nav class="overlay-nav">
        {{ partial "name-nav.html" }}
      </nav>
    </div>

    <header>
      <div class="main-navigation">
        <a href="/">
          <svg class="logo" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50" height="50" fill="black"/>
            <path d="M36.1111 34.8006L25 15.5556L13.8889 34.8006H15.6885L21.9948 23.8777L28.3011 34.8006H36.1111Z" fill="white"/>
          </svg>
        </a>

        <button class="mobile-menu-trigger js-toggle-menu">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6H20" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 12H20" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 18H20" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>

        <nav class="desktop-nav">
          {{ partial "name-nav.html" }}
        </nav>
      </div>
    </header>

    {{ if not .IsHome }}
    <h1 class="page-title">{{ .Title }}</h1>
    {{ end }}
    {{ .Content }}

  </div>
  <script src="/js/name.js"></script>
</body>
</html>
