<!DOCTYPE html>
<html class="no-js" lang="th">
{{ partial "head.html" . }}

<body data-instant-intensity="viewport">
  {{ partial "skip-to-content.html" . }}
  <header class="site-header">
    {{ partial "nav.html" (dict "context" . "pageName" .Params.activeMenu) }}
  </header>
  <div class="content content--home">
    <main id="main" class="main-content main-content--no-sidebar">
      <article>
        <header>
          <h1 class="page-title">{{ .Title }}</h1>
        </header>

        {{ .Content }}
      </article>
			<div id="comments" class="comments" data-page-url="{{ .Permalink }}" data-identifier="{{ .File.UniqueID }}">
				<div id="disqus_thread"></div>
			</div>
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "bottom-script.html" . }}
</body>

</html>
