<!DOCTYPE html>
<html class="no-js" lang="{{ with .Params.language }}{{ . }}{{ else }}th{{end}}">
{{ partial "head.html" . }}

<body>
  {{ partial "skip-to-content.html" . }}
  <header class="site-header">
    {{ partial "nav.html" (dict "context" . "pageName" .Params.activeMenu) }}
  </header>
  <div class="content content--home">
    <main id="main" class="main-content main-content--no-sidebar">
      <article>
        <header>
          <h1 class="page-title">{{ .Title }}</h1>
        </header>

        {{ .Content }}
      </article>
      {{ partial "comments.html" }}
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "bottom-script.html" . }}
</body>

</html>
