<!DOCTYPE html>
<html class="no-js" lang="{{ with .Params.language }}{{ . }}{{ else }}th{{end}}">
{{ partial "head.html" . }}
<body>
  {{ partial "skip-to-content.html" . }}
  <header class="site-header">
    {{ partial "nav.html" (dict "context" . "pageName" "post") }}
  </header>
  <div class="content">
  {{ partial "sidebar.html" . }}

  <main id="main" class="main-content">
    <article class="single">
      <header>
        <h1 class="page-title">{{ .Title }}</h1>
        <time class="publish-time-article" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
      </header>

      {{ .Content }}
    </article>

    {{ if eq .Section "post" }}
    <div class="share-article">
      <a href="https://twitter.com/share?url={{ .Permalink }}&via=armno&text=✎ {{ .Title }}"
        class="btn-share btn-share--twitter"
        target="_blank" rel="noopener">
        Share on Twitter
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
        class="btn-share btn-share--facebook"
        target="_blank" rel="noopener">
        Share on Facebook
      </a>
    </div>
    {{ partial "related.html" . }}
    <div id="comments" class="comments" data-page-url="{{ .Permalink }}" data-identifier="{{ .File.UniqueID }}">
      <div id="disqus_thread"></div>
    </div>
    {{ end }}
  </main>
</div>
  {{ partial "footer.html" . }}
  {{ partial "bottom-script.html" . }}
</body>
</html>
