<!DOCTYPE html>
<html class="no-js" lang="th">
{{ partial "head.html" . }}
<body>
  <header class="site-header">
    {{ partial "nav.html" . }}
  </header>
  <div class="content">
  <aside class="sidebar">

    <div class="post-aside">
      <div class="author">
        <img class="author-avatar" src="/img/me.jpg" alt="me">
        <div class="author-name">Armno P.</div>
        <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
        <div class="reading-time">{{ .Page.ReadingTime }} min read</div>
        </div>
    </div>
  </aside>

  <main>
    <article>
      <header>
        <h1 class="page-title">{{ .Title }}</h1>
      </header>

      {{ .Content }}
    </article>

    {{ if eq .Section "post" }}
    <div class="share-article">
      <a href="https://twitter.com/share?url={{ .Permalink }}&via=armno&text=✎ {{ .Title }}"
        class="btn-share btn-share--twitter"
        target="_blank" rel="noopener">
        Share on Twitter
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
        class="btn-share btn-share--facebook"
        target="_blank" rel="noopener">
        Share on Facebook
      </a>
    </div>
    <div class="comments">
      <div id="disqus_thread"></div>
      <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        var disqus_config = function () {
          this.page.url = '{{ .Permalink }}';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '{{ .UniqueID }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://armnointh.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    {{ end }}
  </main>
</div>
  {{ partial "bottom-script.html" . }}
</body>
</html>
