@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Kanit:300,400,700|Sarabun:300,400,700");
@import url("./font.css");

:root {
  --body-color: #444;
  --heading-color: #222324;
  --light-gray: #a7a8a9;
}

body {
  font-family: Boon, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 19px;
  line-height: 1.5;
  color: var(--body-color);
  margin: 1rem 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: Kanit;
  font-weight: 700;
  color: var(--heading-color);
}

h1 {
  font-size: 50px;
  line-height: 1.1;
}

h2 {
  margin-top: 4rem;
}

strong {
  font-weight: 700;
}

a {
  color: inherit;
}

time {
  color: var(--light-gray);
}

img {
  max-width: 100%;
}

figcaption {
  word-break: break-all;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  font-size: 0.9em;
  color: var(--light-gray);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--light-gray);
  width: 80%;
  max-width: 500px;
  margin: 4rem auto;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-weight: 700;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item:not(.home-link) {
  display: none;
}

.publish-date {
  margin-bottom: 2rem;
  font-size: 0.8em;
}

.page-title {
  margin-top: 3em;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.logo-link {
  text-decoration: none;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments {
  margin-top: 80px;
  margin-bottom: 80px;
}

.share-article a {
  margin-right: 1em;
}

.lead {
  font-size: 1.4rem;
  line-height: 1.4;
}

@media (min-width: 800px) {
  body {
    display: flex;
    flex-direction: row;
  }

  main {
    max-width: 620px;
    flex-grow: 1;
    margin-left: 20vw;
  }

  .nav {
    margin-top: 3.5rem;
  }

  .sidebar {
    position: fixed;
    width: 20vw;
    align-self: flex-start;
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-title {
    margin-top: 0.67em;
  }

  .nav-item:not(.home-link) {
    display: list-item;
  }
}
