@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("./font.css");

:root {
  --body-color: #444;
  --heading-color: #222324;
  --light-gray: #a7a8a9;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1)
}

* {
  box-sizing: border-box;
}

body {
  font-family: Boon, var(--sans-serif);
  font-size: 19px;
  line-height: 1.5;
  color: var(--body-color);
  margin: 1rem 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: Anakotmai, var(--sans-serif);
  font-weight: 700;
  color: var(--heading-color);
}

h1 {
  font-size: 50px;
  line-height: 1.1;
}

h2 {
  margin-top: 4rem;
}

strong {
  font-weight: 700;
}

a {
  color: inherit;
}

time {
  color: var(--light-gray);
}

img {
  max-width: 100%;
}

figcaption {
  word-break: break-all;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  font-size: 0.9em;
  color: var(--light-gray);
}

hr {
  border: 0;
  width: 28%;
  margin: 4rem auto 4rem 0;
  height: 6px;
  background-color: var(--heading-color);
}

code, kbd, samp {
  font-family: 'Roboto Mono', monospace;
  font-display: swap;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-weight: 700;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item:not(.home-link) {
  display: none;
}

.post-meta {
  margin-bottom: 2rem;
  font-size: 0.8em;
}

.page-title {
  margin-top: 3em;
}

.logo-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Anakotmai;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -1px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--heading-color);
  border: 6px solid var(--heading-color);
  background-color: #fff;

  transition: clip-path 0.7s var(--ease-out-expo);
  clip-path: polygon(0% 50%, 0% 0%,   100% 0%, 80% 50%, 100% 50%, 100% 100%,  0% 100%, 20% 50%);
  position: relative;
}

.logo-link::after {
  display: block;
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--heading-color);
  transform: scaleX(0);
  transition: transform 0.5s;
  bottom: 8px;
}

.logo-link:hover {
  clip-path: polygon(0% 0%,  50% 20%, 50% 0%, 100% 0%,  100% 100%, 50% 80%,  50% 100%, 0% 100%);
}

.logo-link:hover::after {
  transform: scaleX(1);
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments {
  margin-top: 80px;
  margin-bottom: 80px;
}

.share-article a {
  margin-right: 1em;
}

.lead {
  font-size: 1.4rem;
  line-height: 1.4;
}

.post-aside {
  margin-top: 80px;
  font-size: 1rem;
}

.post-aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 800px) {
  body {
    display: flex;
    flex-direction: row;
  }

  main {
    max-width: 640px;
    flex-grow: 1;
    margin-left: 20vw;
  }

  .nav {
    margin-top: 3.5rem;
  }

  .sidebar {
    position: fixed;
    width: 20vw;
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 60px;
    text-align: right;
    opacity: 0.2;
    transition: opacity 0.4s var(--ease-out-expo);
  }

  .sidebar:hover {
    opacity: 1;
  }

  .page-title {
    margin-top: 0.67em;
  }

  .nav-item:not(.home-link) {
    display: list-item;
  }
}
