{{ partial "head.html" . }}

<div class="post-cover-photo has-cover-photo"
  style="background-image: url('{{ $.Param "cover-image" }}')">

  {{ partial "navigation.html" . }}

  <header class="post-header container">
    <h1 class="text-center post-title">{{ .Title }}</h1>
  </header>
</div>

<div class="container">
  <ol class="blog-list">

    {{ range where .Site.Pages "Type" "post" }}
    <li>
      <div class="post-teaser">
        <div class="post-teaser-text">
          <div class="publish-time">
            <time>{{ .Date.Format "January 2, 2006" }}</time>
          </div>
          <h3 class="post-title">
            <a class="post-link" href="{{ .Permalink }}">
                {{ .Title }}
              </a>
          </h3>

          <ul class="tags-list tags-list-inline">
            {{ range .Params.tags }}
            <li class="tag-list-item">
              #{{ . }}
            </li>
            {{ end }}
          </ul>

          <p>
            {{ .Params.description }}
          </p>

        </div>
      </div>

    </li>
    {{ end }}
  </ol>
</div>

  {{ partial "footer.html" . }}

