<!DOCTYPE html>
<head>
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Armno Prommarak">
  <link rel="stylesheet" type="text/css" href="/css/plain.css" media="screen">
</head>
<body>
  <header>
    <a href="/" class="logo-link">
      <h1 class="logo">an.</h1>
    </a>
    <a href="/">
      home
    </a>
  </header>
  <main>
    <article>
      <header>
        <h1 class="page-title">{{ .Title }}</h1>
      </header>

      <div class="publish-date">
        <time>{{ .Date.Format "January 2, 2006" }}</time>
      </div>

      {{ .Content }}
    </article>
  </main>
</body>
