<!DOCTYPE html>
<head>
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Armno Prommarak">
  <link rel="stylesheet" type="text/css" href="/css/plain.css" media="screen">
</head>
<body>
  <div class="global-header">
    <a href="/" class="logo-link">
      <h1 class="logo">an.</h1>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item home-link">
          <a href="/">home</a>
        </li>
        <li class="nav-item">
          <a href="/">about</a>
        </li>
        <li class="nav-item">
          <a href="/">blog</a>
        </li>
        <li class="nav-item">
          <a href="/">projects</a>
        </li>
        <li class="nav-item">
          <a href="/">contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <main>
    <article>
      <header>
        <h1 class="page-title">{{ .Title }}</h1>
      </header>

      {{ if eq .Section "post" }}
      <div class="publish-date">
        <time>{{ .Date.Format "January 2, 2006" }}</time>
      </div>
      {{ end }}

      {{ .Content }}
    </article>

    {{ if eq .Section "post" }}
    <div class="share-article">
      <h3>Share</h3>
      <a href="https://twitter.com/share?url={{ .Permalink }}&via=armno&text=✎ {{ .Title }}"
        target="_blank" rel="noopener">
        Twitter
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
        target="_blank" rel="noopener">
        Facebook
      </a>
    </div>
    <div class="comments">
      <div id="disqus_thread"></div>
      <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        var disqus_config = function () {
          this.page.url = '{{ .Permalink }}';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '{{ .UniqueID }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://armnointh.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    {{ end }}
  </main>
</body>
