{{ partial "header.html" . }}

{{ if isset .Params "cover-image" }}
<div class="post-cover-photo has-cover-photo"
  style="background-image: url('{{ $.Param "cover-image" }}')">
{{ else }}
<div class="post-cover-photo">
{{ end }}

  {{ partial "navigation.html" . }}

  <header class="post-header container">
    <h1 class="text-center post-title">{{ .Title }}</h1>
    <div class="text-center publish-date">
      Published on
      <span class="publish-time">
        <time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
      </span>
    </div>
    <ul class="tags-list">
      {{ range .Params.tags }}
      <li class="tag-list-item">
        #{{ . }}
      </li>
      {{ end }}
    </ul>
  </header>
</div>

<article class="container {{ .Params.layout }}">
  {{ .Content }}

  {{ partial "share.html" . }}

  <div class="text-center">
    <a href="https://github.com/armno/blog/blob/master/content/post/{{ trim (replace .RelPermalink "/" "-") "-" }}.md" class="edit-link">
      (Edit on GitHub)
    </a>
  </div>

  <hr>
</article>
{{ partial "disqus.html" . }}
{{ partial "footer.html" . }}
