{{ partial "header.html" . }}

{{ if isset .Params "cover-image" }}
<div class="post-cover-photo has-cover-photo"
  style="background-image: url('{{ $.Param "cover-image" }}')">
{{ else }}
<div class="post-cover-photo">
{{ end }}

  <nav class="nav-post home-nav">
    <a href="/" class="home-logo">
      <img src="/img/avatar-me.jpg" srcset="/img/avatar-me-2x.jpg 2x" alt="armno avatar">
    </a>

    <ul class="home-menu">
      <li class="home-menu-item">
        <a href="/#about">About</a>
      </li>
      <li class="home-menu-item">
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>

  <header class="post-header container">
    <h1 class="text-center post-title">{{ .Title }}</h1>
    <div class="text-center publish-date">
      Published on
      <span class="publish-time">
        <time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
      </span>
    </div>
    <ul class="tags-list" id="tags">
      {{ range .Params.tags }}
      <li class="tag-list-item">
        #{{ . }}
      </li>
      {{ end }}
    </ul>
  </header>
</div>

<article class="container">
  {{ .Content }}

  {{ partial "share.html" . }}

  <div class="text-center">
    <a href="#" class="edit-link">(Edit on GitHub)</a>
  </div>

  <hr>
</article>
{{ partial "disqus.html" . }}
{{ partial "footer.html" . }}
