/* Section: Footer */
.site-footer {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include medium() {
    flex-direction: row;

    & > div:last-child {
      text-align: right;
    }
  }
}

.footer-nav-link {
  text-decoration: none;
}
