.free-hero {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 84px 1fr auto; // auto = content height

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
  @include large() {
    height: 80vh;
    grid-template-columns: 15% 35% 35% 15%;
  }
}

.free-layout {
  .page-title {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    position: relative;
    top: 0;

    @include medium() {
      top: 30%;
      max-width: none;
    }

    @media (min-width: 560px) {
      grid-column-start: 2;
    }

    @media (min-width: 1400px) {
      grid-column-start: 3;
      width: 120%;
      margin-left: -20%;
    }
  }

  .site-logo-text {
    h1, div {
    color: #fff;
    }
  }
  .site-header {
    margin: 0;
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 5;
    z-index: 10;

    @include medium() {
      grid-column-start: 2;
      grid-column-end: 5;
    }
    @include large() {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  .nav,
  .nav-list {
    height: 100%;
  }

  .nav-link,
  .site-logo {
    color: white;
  }
}

.free-layout-content {
  // display: grid;
  // grid-template-columns: auto;
  padding-top: 2rem;

  @include medium() {
    // grid-template-columns: minmax(min-content, 280px) auto;
    padding-top: 6rem;
  }
}

.sidebar-author {
  display: none;

  @include medium {
    display: block;
    padding: 0 2rem;
  }
}
