html,
body {
  overflow-x: hidden;
  position: relative;
}

/* overlay grid */
body.grid-on {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    content: '';
    display: block;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px,
      transparent
    );
    background-size: 100% 26px;
  }
}

.sidebar {
  display: none;

  @include medium() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 220px;
    max-width: 320px;
    width: auto;
    margin-top: 104px;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 60px;
  }
}

.site-header {
  background-color: #fff;
  margin-top: $bottom-space;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  @include medium() {
    margin-top: $bottom-space * 2;
    margin-bottom: $bottom-space * 3;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-content,
.site-footer {
  @include container();
}

.site-logo {
  text-decoration: none;
  margin-bottom: 0;
  line-height: 0;
  display: inline-block;
  top: 3px;
  position: relative;

	@include medium() {
		display: inline-flex;
		align-items: center;
	}
}

.site-logo-text {
	display: none;
	@include medium() {
		display: block;
		margin-left: 32px;
		margin-top: 8px;
		h1 {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 28px;
			line-height: 0.8;
		}

		div {
			font-size: 16px;
			color: rgba(0,0,0,0.6);
		}
	}
}

.main-content--no-sidebar {
  @include medium() {
    margin-left: auto;
    margin-right: auto;
  }
}

.main--home {
  max-width: none;
}

.comments {
  margin-top: $bottom-space * 3;
  margin-bottom: $bottom-space * 3;
}

.article-header {
  margin-bottom: $bottom-space * 3;

  @include medium() {
    margin-top: $bottom-space * 5;
    margin-bottom: $bottom-space * 5;
  }
}
.logo-image {
  @include medium() {
		width: 60px;
		height: 60px;
	}
}


