@mixin medium() {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin large() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin container() {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  @include medium() {
    max-width: 920px;
  }
}
