.mobile-menu {
  width: 32px;
  height: 32px;
  border: 0;
  padding: 6px;
  display: block;
  cursor: pointer;
  background-color: transparent;

  svg {
    margin: 0;
  }

  &:focus,
  &:active {
    outline: 1px solid hsl(0, 0%, 0%);
  }
}

.nav {
  position: absolute;
  right: 0;
  top: 26px;
  transform: translateX(100%);
  @include medium() {
    position: static;
    transform: none;
  }
}

.nav-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;

  flex-direction: column;

  @include medium() {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.nav-item {
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.75rem;
  font-family: $system-fonts;
}

.nav-link.active {
  font-weight: 700;
  color: $red;
}
