// colorscheme from: https://coolors.co/3f5261-d9dde1-0c120c-c20114-c7d6d5
$smoky-black: #0c120c;
$harvard-crimson-red: #c20114;
$independence: #3f5261;
$light-gray: ghostwhite;
$gainsboro: #d9dde1;

$light-gold: #fff6b5;
$gold: gold;
$twitter: #1da1f2;
$facebook: #3b5998;
$purple: #9370db;

$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$base-font-size: 19px;
$bottom-space: 26px;

@import 'mixins';
@import 'normalize';
@import 'fonts';
@import 'layout';
@import 'typography';
@import 'media-objects';
@import 'nav';
@import 'sidebar';
@import 'footer';
@import 'pagination';

@import 'home';

/* utilities ¯\_(ツ)_/¯ */
.text-center {
  text-align: center;
}

/* ------ */

.publish-time,
.publish-time-article {
  color: $independence;
  font-style: italic;
}

.reading-time {
  color: $smoky-black;
}

.publish-time-article {
  font-size: 0.8rem;
}

.share-article {
  margin-top: 104px;
}

.btn-share {
  color: #fff;
  padding: 0.25em 1em;
  text-decoration: none;
  font-size: 0.9em;
  display: inline-block;
  transition: transform 0.3s $ease-out-expo;

  &:hover {
    color: #fff;
  }
}

.btn-share:not(:last-child) {
  margin-right: 26px;
}

.btn-share:hover {
  transform: translateY(-2px);
}

.btn-share--twitter {
  background-color: $twitter;
}

.btn-share--facebook {
  background-color: $facebook;
}

/* Section: Home page */
.post-teaser {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
}

.post-teaser__thumbnail {
  width: 100%;
  position: relative;
}

.post-teaser__thumbnail.no-thumbnail {
  padding-top: 56.25%;
}

.related-posts__thumbnail.no-thumbnail::after,
.post-teaser__thumbnail.no-thumbnail::after {
  position: absolute;
  content: '(no thumbnail)';
  color: $gainsboro;
  box-shadow: inset 0 0 2px $gainsboro;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-teaser__thumbnail img {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-teaser__content .post-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2rem;
  line-height: 1.2;
  word-break: break-word;
}

.post-teaser__content .publish-time {
  font-size: 0.8em;
  color: $independence;
  margin-bottom: 1.5rem;
}

.post-teaser .post-link {
  text-decoration: none;
  line-height: 1.1;
}

.post-teaser__thumbnail .post-link {
  position: relative;
  display: block;
  overflow: hidden;
}

.post-teaser__thumbnail .post-link::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.post-teaser .post-link:hover {
  text-decoration: underline;
}

.post-teaser__content .tags-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  font-size: 0.8em;
}

/* Section: Related Posts */
.related-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.related-posts__item {
  width: 45%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  margin-bottom: $bottom-space;
}

.related-posts__thumbnail {
  position: relative;
}

.related-posts__thumbnail::before {
  content: '';
  display: block;
  padding-top: 75%;
}

.related-posts__thumbnail img {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.related-posts__title {
  margin-top: 0.5em;
  font-size: 0.9rem;
  line-height: 1.1;
}

@media (min-width: 800px) {
  .post-teaser {
    width: 40%;
  }

  .post-teaser__thumbnail {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .related-posts {
    justify-content: flex-start;
  }

  .related-posts__item {
    width: 30%;
  }
  .related-posts__item:not(:last-child) {
    margin-right: 5%;
  }

  .publish-time-article {
    display: none;
  }
}

@media (min-width: 1200px) {
  .post-teaser {
    width: 30%;
    margin-bottom: 5rem;
  }
}

.skip-to-content-link {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75rem;
  padding: 1em 2em;
  background-color: $harvard-crimson-red;
  color: #fff;
  transform: translateY(-101%);

  &:focus {
    transform: translateY(0);
    z-index: 10;
  }
}
