@font-face {
  font-family: 'ibm plex thai';
  src: url('/fonts/IBMPlexSansThai-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ibm plex thai';
  src: url('/fonts/IBMPlexSansThai-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// colorscheme from: https://coolors.co/3f5261-d9dde1-0c120c-c20114-c7d6d5
$black: #0c120c;
$red: #c20114;
$dark-gray: #3f5261;
$light-gray: ghostwhite;
$gray: #d9dde1;

$light-gold: #fff6b5;
$gold: gold;
$twitter: #1da1f2;
$facebook: #3b5998;

$system-fonts: 'Sarabun', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$monospace-font: 'Fira Mono', monospace;
$heading-fonts: 'ibm plex thai', serif;

$base-font-size: 19px;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$bottom-space: 26px;

@import 'mixins';
@import 'normalize';
@import 'layout';
@import 'typography';
@import 'media-objects';
@import 'nav';
@import 'sidebar';
@import 'footer';
@import 'pagination';

@import 'home';
@import 'styleguide';

/* utilities ¯\_(ツ)_/¯ */
.text-center {
  text-align: center;
}

/* ------ */

.publish-time,
.publish-time-article {
  color: $dark-gray;
}

.reading-time {
  color: $black;
}

.publish-time-article {
  font-size: 0.8rem;
}

.share-article {
  margin-top: 104px;
}

.btn-share {
  color: #fff;
  padding: 0.25em 1em;
  text-decoration: none;
  font-size: 0.9em;
  display: inline-block;
  transition: transform 0.3s $ease-out-expo;

  &:hover {
    color: #fff;
  }
}

.btn-share:not(:last-child) {
  margin-right: 26px;
}

.btn-share:hover {
  transform: translateY(-2px);
}

.btn-share--twitter {
  background-color: $twitter;
}

.btn-share--facebook {
  background-color: $facebook;
}

/* Section: Home page */
.post-teaser {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
}

.post-teaser__thumbnail {
  width: 100%;
  position: relative;
}

.post-teaser__thumbnail.no-thumbnail {
  padding-top: 56.25%;
  margin-bottom: $bottom-space;
}

.related-posts__thumbnail.no-thumbnail::after,
.post-teaser__thumbnail.no-thumbnail::after {
  position: absolute;
  content: '(no thumbnail)';
  color: $gray;
  box-shadow: inset 0 0 2px $gray;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-teaser__thumbnail img {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-teaser__content .post-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2rem;
  line-height: 1.2;
  word-break: break-word;
}

.post-teaser__content .publish-time {
  font-size: 0.8em;
  color: $dark-gray;
  margin-bottom: 1.5rem;
}

.post-teaser .post-link {
  text-decoration: none;
  line-height: 1.1;
}

.post-teaser__thumbnail .post-link {
  position: relative;
  display: block;
  overflow: hidden;
}

.post-teaser__thumbnail .post-link::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.post-teaser .post-link:hover {
  text-decoration: underline;
}

.post-teaser__content .tags-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  font-size: 0.8em;
}

/* Section: Related Posts */
.related-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.related-posts__item {
  width: 45%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  margin-bottom: $bottom-space;
  margin-right: 5%;
}

.related-posts__thumbnail {
  position: relative;
}

.related-posts__thumbnail::before {
  content: '';
  display: block;
  padding-top: 75%;
}

.related-posts__thumbnail img {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.related-posts__title {
  margin-top: 0.5em;
  font-size: 0.9rem;
  line-height: 1.1;
}

.about-columns img {
  max-width: 300px;
}

@media (min-width: 800px) {
  .post-teaser {
    width: 40%;
  }

  .post-teaser__thumbnail {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .related-posts {
    max-width: 100%;
  }

  .related-posts__item {
    width: 22.5%;
    margin-right: 2.5%;
  }

  .about-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & > div {
      width: 43%;
    }

    img {
      max-width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .post-teaser {
    width: 30%;
    margin-bottom: 5rem;
  }
}

.skip-to-content-link {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75rem;
  padding: 1em 2em;
  margin-bottom: 0;
  background-color: $red;
  color: #fff;
  transform: translateY(-101%);

  &:focus {
    transform: translateY(0);
    z-index: 10;
  }
}

@import './free';
