<!DOCTYPE html>
<html class="no-js" lang="th" >
{{ partial "head.html" . }}

<body>
  {{ partial "skip-to-content.html" . }}
  <header class="site-header">
    {{ partial "nav.html" (dict "context" . "pageName" "404") }}
  </header>
  <div class="content">
    <main id="main" class="main-content main -content--no-sidebar">
      <article>
        <header>
          <h1 class="page-title text-center">404</h1>
          <h2 class="text-center">Page not found</h2>
        </header>

      </article>
    </main>
  </div>
  {{ partial "bottom-script.html" . }}
</body>

</html>
