<a href="/" class="site-logo">
  <img src="/img/logo.png" alt="logo" width="32" class="no-medium-zoom">
</a>

<button class="mobile-menu" id="button-open-menu" aria-label="open menu">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
    <circle cy="8.02" cx="32" r="5" fill="#000"/>
    <circle cy="32.16" cx="32" r="5" fill="#000"/>
    <circle cy="55.98" cx="32" r="5" fill="#000"/>
  </svg>
</button>

<div class="nav">
  <div class="nav-header">
    <a href="/" class="site-logo">
      <img src="/img/logo.png" alt="logo" width="32" class="no-medium-zoom">
    </a>
    <button class="close-mobile-menu" id="button-close-menu" aria-label="close menu">
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <polygon points="28.71 4.71 27.29 3.29 16 14.59 4.71 3.29 3.29 4.71 14.59 16 3.29 27.29 4.71 28.71 16 17.41 27.29 28.71 28.71 27.29 17.41 16 28.71 4.71"/>
      </svg>
    </button>
  </div>
  <nav class="menu">
    <ul class="nav-list no-list-style">
      <li class="nav-item nav-item-mobile-logo">
        <a href="/" class="nav-link {{ if eq .pageName "home" }}active{{ end }}">
          home
        </a>
      </li>
      <li class="nav-item">
        <a href="/about/" class="nav-link {{ if eq .pageName "about" }}active{{ end }}">
          about
        </a>
      </li>
      <li class="nav-item">
        <a href="/uses/" class="nav-link {{ if eq .pageName "uses" }}active{{ end }}">
          uses
        </a>
      </li>
      <li class="nav-item">
        <a href="/post/" class="nav-link {{ if eq .pageName "post" }}active{{ end }}">
          articles
        </a>
      </li>
    </ul>
  </nav>
</div>
