<a href="/" class="site-logo">
  <span class="logo-eng">armno.</span>
  <span class="logo-jap">ホーム</span>
</a>

<button class="mobile-menu" id="button-open-menu" aria-label="open menu">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
    <circle cy="8.02" cx="32" r="5" fill="#000"/>
    <circle cy="32.16" cx="32" r="5" fill="#000"/>
    <circle cy="55.98" cx="32" r="5" fill="#000"/>
  </svg>
</button>

<div class="nav">
  <div class="nav-header">
    <a href="/" class="site-logo">
      armno.
    </a>
    <button class="close-mobile-menu" id="button-close-menu" aria-label="close menu">
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <polygon points="28.71 4.71 27.29 3.29 16 14.59 4.71 3.29 3.29 4.71 14.59 16 3.29 27.29 4.71 28.71 16 17.41 27.29 28.71 28.71 27.29 17.41 16 28.71 4.71"/>
      </svg>
    </button>
  </div>
  <nav class="menu">
    <ul class="nav-list no-list-style">
      <li class="nav-item nav-item-mobile-logo">
        <a href="/" class="nav-link {{ if eq .pageName "home" }}active{{ end }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <polyline points="5 12 3 12 12 3 21 12 19 12" />
            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
          </svg>
          home
        </a>
      </li>
      <li class="nav-item">
        <a href="/about/" class="nav-link {{ if eq .pageName "about" }}active{{ end }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-face-id" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
            <path d="M4 16v2a2 2 0 0 0 2 2h2" />
            <path d="M16 4h2a2 2 0 0 1 2 2v2" />
            <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
            <line x1="9" y1="10" x2="9.01" y2="10" />
            <line x1="15" y1="10" x2="15.01" y2="10" />
            <path d="M9.5 15a3.5 3.5 0 0 0 5 0" />
          </svg>
          about
        </a>
      </li>
      <li class="nav-item">
        <a href="/uses/" class="nav-link {{ if eq .pageName "uses" }}active{{ end }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ruler" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <path d="M5 4h14a1 1 0 0 1 1 1v5a1 1 0 0 1 -1 1h-7a1 1 0 0 0 -1 1v7a1 1 0 0 1 -1 1h-5a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1" />
            <line x1="4" y1="8" x2="6" y2="8" />
            <line x1="4" y1="12" x2="7" y2="12" />
            <line x1="4" y1="16" x2="6" y2="16" />
            <line x1="8" y1="4" x2="8" y2="6" />
            <polyline points="12 4 12 7 " />
            <polyline points="16 4 16 6 " />
          </svg>
          uses
        </a>
      </li>
      <li class="nav-item">
        <a href="/post/" class="nav-link {{ if eq .pageName "post" }}active{{ end }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-float-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <rect width="6" height="6" x="14" y="5" rx="1" />
            <line x1="4" y1="7" x2="10" y2="7" />
            <line x1="4" y1="11" x2="10" y2="11" />
            <line x1="4" y1="15" x2="20" y2="15" />
            <line x1="4" y1="19" x2="20" y2="19" />
          </svg>
          articles
        </a>
      </li>
    </ul>
  </nav>
</div>
