{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
<h3>Related Posts</h3>
<ul class="related-posts no-list-style">
  {{ range . }}
  <li class="related-posts__item">
    <a href="{{ .Permalink }}">
    {{ if and (.Params.thumbnail) (hasPrefix .Params.thumbnail "http") }}
      <div class="related-posts__thumbnail">
        <img class="no-medium-zoom lazy" data-src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
        <noscript>
          <img class="no-medium-zoom" src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
        </noscript>
      </div>
    {{ else if .Params.thumbnail }}
      <div class="related-posts__thumbnail">
        <img class="no-medium-zoom lazy" data-src="{{ .Permalink }}{{ .Params.thumbnail }}" alt="{{ .Title }}">
        <noscript>
          <img class="no-medium-zoom" src="{{ .Permalink }}{{ .Params.thumbnail }}" alt="{{ .Title }}">
        </noscript>
      </div>
    {{ else if not .Params.thumbnail }}
      <div class="related-posts__thumbnail no-thumbnail">
      </div>
    {{ end }}
    <div class="related-posts__title">
      {{ .Title }}
    </div>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
