@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("./font.css");

/* overlay grid */
body.grid-on {
  position: relative;
}

body.grid-on::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  content: "";
  display: block;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent
  );
  background-size: 100% 26px;
}

#grid {
  z-index: 10;
  position: fixed;
  top: 26px;
  right: 26px;
  background: transparent;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.83em;
}

#grid:focus {
  outline: none;
}

:root {
  --body-color: #444;
  --dark-gray: #222324;
  --light-gray: #a7a8a9;
  --ghostwhite: ghostwhite;
  /* just so that i can change to another color easier */
  --gold: gold;
  --twitter: #1da1f2;
  --facebook: #3b5998;
  --purple: #9370db;
  /* `mediumpurple` html color name */
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}

/* base font-size: 19px */
/* line-height: 26.6px */

/* TODO: this should apply only to text elements? */
* {
  box-sizing: border-box;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 26px;
}

html {
  font-size: 118.75%;
}

body {
  font-family: Boon, var(--sans-serif);
  line-height: 1.5;
  color: var(--body-color);
}

p,
ul,
ol {
  max-width: 32em;
}

ul,
ol {
  margin-bottom: 52px;
  padding-left: 0;
}

li {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Anakotmai, var(--sans-serif);
  font-weight: 700;
  color: var(--dark-gray);
}

h1 {
  line-height: 1.1;
  margin-top: 78px;
  margin-bottom: 52px;
}

h2 {
  line-height: 1.1;
  margin-top: 52px;
  margin-bottom: 26px;
}

h3 {
  line-height: 39px;
  margin-top: 52px;
  margin-bottom: 26px;
}

h4 {
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 13px;
}

h5,
h6 {
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 0;
}

/* perfect-fifth scale */
h1 {
  font-size: 3.375rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

figcaption {
  font-size: 0.75rem;
}

small {
  font-size: 0.5rem;
}

img,
div,
.nav,
.nav-link {
  margin-bottom: 0;
}

/* typography experiment ends here */

/* h1 {
  font-size: 50px;
  line-height: 1.1;
}

h2 {
  margin-top: 4rem;
}

h3 {
  margin-top: 2rem;
} */

strong {
  font-weight: 700;
}

a {
  color: inherit;
}

.reading-time {
  /* margin-top: 1rem; */
  color: var(--light-gray);
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  word-break: break-all;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  font-size: 0.9em;
  color: var(--light-gray);
}

hr {
  border: 0;
  width: 28%;
  margin: 4rem auto 4rem 0;
  height: 6px;
  background-color: var(--dark-gray);
}

code,
kbd,
samp {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
  background-color: var(--ghostwhite);
  padding: 2px 5px;
}

mark {
  background-color: var(--gold);
  padding: 0 3px;
}

pre {
  white-space: pre-wrap;
  padding: 1em;
}

pre code {
  background-color: transparent;
}

blockquote {
  margin: 0 0 26px;
  padding: 26px 26px;
  background-color: var(--ghostwhite);
}

blockquote p:last-child {
  margin-bottom: 0;
}

/* utilities ¯\_(ツ)_/¯ */
.text-center {
  text-align: center;
}

/* hugo-generated footnote */
.footnote {
  font-size: 0.9em;
}

/* ------ */

.message--warning {
  background-color: #fff6b5;
  margin-top: 2em;
  padding: 1em 2em;
  /* same paddings as `blockquote` */
}

.nav-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-left: 1em;
  margin-right: 1em;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  font-family: Anakotmai, var(--sans-serif);
}

.nav-link:not(.logo-link):hover {
  text-decoration: underline;
}

/* .nav-item:not(.home-link) {
  display: none;
} */

.post-meta {
  margin-bottom: 2rem;
  font-size: 0.8em;
}

/* .page-title { */
/* margin-top: 2em; */
/* } */

.logo-link {
  /* text-decoration: none; */
  /* text-transform: uppercase; */
  /* font-family: Anakotmai;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: -1px; */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-gray);
  /* border: 5px solid var(--dark-gray); */
  /* background-color: #fff; */

  /* transition: clip-path 0.7s var(--ease-out-expo);
  clip-path: polygon(0% 50%,
    0% 0%,
    100% 0%,
    80% 50%,
    100% 50%,
    100% 100%,
    0% 100%,
    20% 50%);
  position: relative; */
}

/*
.logo-link::after {
  display: block;
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: var(--dark-gray);
  transform: scaleX(0);
  transition: transform 0.5s;
  bottom: 6px;
}

.logo-link:hover {
  clip-path: polygon(0% 0%,
    50% 20%,
    50% 0%,
    100% 0%,
    100% 100%,
    50% 80%,
    50% 100%,
    0% 100%);
}

.logo-link:hover::after {
  transform: scaleX(1);
} */

.sidebar {
  /* display: flex; */
  display: none;
  /* justify-content: space-between;
  align-items: center; */
}

.comments {
  margin-top: 80px;
  margin-bottom: 80px;
}

.lead {
  font-size: 1.4rem;
  line-height: 1.4;
}

.post-aside {
  font-size: 1rem;
}

.post-aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-aside__title {
  margin-bottom: 0.5em;
}

.post-aside__title:first-child {
  margin-top: 0;
}

.post-aside__title:not(:first-child) {
  margin-top: 3rem;
}

.share-article {
  margin-top: 52px;
}

.btn-share {
  color: #fff;
  padding: 0.25em 1em;
  text-decoration: none;
  font-size: 0.9em;
  display: inline-block;
  transition: transform 0.3s var(--ease-out-expo);
}

.btn-share:not(:last-child) {
  margin-right: 26px;
}

.btn-share:hover {
  transform: translateY(-2px);
}

.btn-share--twitter {
  background-color: var(--twitter);
}

.btn-share--facebook {
  background-color: var(--facebook);
}

.site-header {
  background-color: #fff;
  /* padding: 1rem 2rem; */
  margin-top: 26px;
  /* border-bottom: 2px solid var(--ghostwhite); */
}

.video-wrapper iframe {
  max-width: 100%;
}

main,
.site-footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Section: Pagination */
.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.page-item {
  margin-left: 10px;
  margin-right: 10px;
}

.page-item.disabled .page-link {
  text-decoration: none;
  color: var(--light-gray);
}

.page-item.active .page-link {
  font-weight: bold;
  text-decoration: none;
}

/* Section: Home page */
.main--home {
  max-width: none;
}

.home-blog-title {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 4rem 0;
}

.home-articles {
  max-width: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-teaser {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.post-teaser__thumbnail {
  width: 100%;
  position: relative;
}

.post-teaser__thumbnail::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.post-teaser__thumbnail.no-thumbnail::after {
  position: absolute;
  content: "(no thumbnail)";
  color: var(--light-gray);
  box-shadow: inset 0 0 2px var(--light-gray);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-teaser__thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-teaser__content .post-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2rem;
  line-height: 1.2;
}

.post-teaser__content .publish-time {
  font-size: 0.8em;
  color: var(--light-gray);
}

.post-teaser .post-link {
  text-decoration: none;
  line-height: 1.1;
}

.post-teaser .post-link:hover {
  text-decoration: underline;
}

.post-teaser__content .tags-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  font-size: 0.8em;
}

/* Section: Sidebar */
.author-avatar {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 26px;
}

.author {
  text-align: center;
  font-size: 0.75rem;
  line-height: 26px;
}

.author-name {
  font-weight: bold;
  /* margin-top: 1em; */
  color: var(--dark-gray);
}

/* Section: Hero section on home page */
.hero {
  /* height: calc(80vh - 78px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  width: 80%;
  margin: auto;
}

.hero-main-text {
  margin: 0.5em 0 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

.hero-sub-text {
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

/* Section: Footer */
.site-footer {
  font-size: 1rem;
}

/* Section: Related Posts */
.related-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.related-posts__item {
  width: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
}

.related-posts__thumbnail {
  position: relative;
}

.related-posts__thumbnail::before {
  content: "";
  display: block;
  padding-top: 75%;
}

.related-posts__thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.related-posts__title {
  margin-top: 0.5em;
}

/* styles for broken images (404) */
/* https://bitsofco.de/styling-broken-images/ */
.content article:not(.post-teaser) img {
  font-weight: 300;
  line-height: 2;
  text-align: center;

  height: auto;
  display: block;
  position: relative;
  min-height: 50px;

  margin-bottom: 26px;
}

.content article img:before {
  content: " ";
  display: block;

  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: #fff;
  box-shadow: inset 0 0 2px var(--light-gray);
}

.content article img:after {
  content: "\2260"" (broken image) " "\2260";
  display: block;
  font-size: 16px;
  font-style: normal;
  color: var(--light-gray);

  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}

.media.semi-full,
.media.full {
  max-width: none;
}

@media (min-width: 800px) {
  .content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */
    display: flex;
    flex-direction: row;
  }

  .content--home {
    flex-direction: column;
  }

  main,
  .site-footer {
    max-width: 720px;
    flex-grow: 1;
  }

  .no-sidebar {
    margin-left: auto;
    margin-right: auto;
  }

  /* .nav-list {
    justify-content: center;
  } */

  .sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 220px;
    width: auto;
    margin-top: 104px;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 60px;
  }

  /* .page-title {
    margin-top: 0.67em;
    margin-bottom: 2em;
  } */
  /*
  .nav-item {
    margin-left: 2em;
    margin-right: 2em;
  } */

  .post-teaser {
    width: 40%;
  }

  .post-teaser__thumbnail {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .hero {
    height: calc(100vh - 100px - 74px);
    /* margin-top: -60px; */
  }

  .hero-main-text {
    font-size: 2.4rem;
  }

  .hero-sub-text {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 1440px;
    justify-content: center;
  }

  main,
  .site-footer {
    max-width: 800px;
  }

  .post-teaser {
    width: 30%;
    margin-bottom: 5rem;
  }
}
