<footer class="main-footer">
  <p class="text-center">
    &copy; 2007 &ndash; {{ now.Format "2006" }} • Armno P.
  </p>
  <nav class="footer-nav text-center">
    <ul>
      <li>
        <a href="https://github.com/armno" aria-label="@armno on GitHub">
          <svg class="main-footer-icon github-icon">
            <use xlink:href="#icon-github"></use>
            <svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/armno" aria-label="@armno on Twtitter">
          <svg class="main-footer-icon twitter-icon">
            <use xlink:href="#icon-twitter"></use>
            <svg>
        </a>
      </li>
    </ul>
  </nav>
</footer>
{{ partial "analytics.html" . }}
{{ partial "icon-svg.html" . }}
</body>

</html>
