<footer class="main-footer">
  <p class="text-center">
    &copy; 2007 &ndash; 2089 • Armno P.
  </p>
  <nav class="footer-nav text-center">
    <ul>
      <li>
        <a href="https://github.com/armno" aria-label="@armno on GitHub">
          <svg class="main-footer-icon github-icon">
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/armno" aria-label="@armno on Twtitter">
          <svg class="main-footer-icon twitter-icon">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</footer>
{{ partial "icon-svg.html" . }}
<script>
  window.lazyLoadOptions = {
    elements_selector: '.lazy'
  }
</script>
<script async src="/js/lazyload.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2721521-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-2721521-7', { 'anonymize_ip': true });
</script>
</body>

</html>
